.pokemon-gif {
	height:200px;
	width: 200px;
	display:block;
}

@font-face {
    font-family: pokemonFont;
    src: url(PokemonGB.ttf);
}

body {
	font-family: pokemonFont;
	
}

p {
	font-size: 6px;
}

.btn {
	font-size: 10px;
}
#search-param {
	font-size: 10px;
	max-width: 400px;
}

.well {
	width: 240px;
	float: left;
	margin-right: 15px;
	/*height: auto;*/
}

#search-button {
	height:34px;
}

#button-spot {
	margin-top: 15px;
}
.search {
	margin-right: 10px;
}



/*.imageHolder {
  position: relative;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}*/
./*imageHolder video {
  width: 100%;
  display: block;
}*/
.imageHolder:before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}